.statisticsPage {
  @include flex(column, space-evenly, center);

  .statisticsCard {
  }
  .lineChartCard {
    @include flex(column, space-evenly, center);
    margin-top: 30px;
    width: 848px;
    height: 445px;
    background: $offwhite;
    border: 1px solid $line;
    box-shadow: 0px 4px 4px rgba($black, 0.1), 0px 4px 20px rgba($black, 0.1);
    border-radius: 10px;
  }
  .historys {
  }
}
