.dropdown {
  @include flex(column, center, start);

  &__title-wrapper {
    width: 100%;
    &:hover {
      background: $background;
      border-radius: 10px;
    }
  }

  .title-wrapper {
    font-family: 'BMDOHYEON';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    @include flex(row, space-between, center);
    padding: 16px;
  }
  .divider {
    width: 100px;
    height: 1px;
    background: $line;
    margin: 0 16px;
  }
}
