.input {
  @include flex-center();
  width: 1000px;
  height: 76px;
  background: $offwhite;
  border: 1px solid $line;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

  .divider {
    width: 1px;
    height: 44px;
    background: $line;
  }

  .input-wrapper {
    padding: 16px 24px;
    @include flex(column, center, start);
    gap: 4px;
    width: 140px;
  }

  .input-wrapper--long {
    width: 220px;
  }

  &__title {
    font-family: 'BMDOHYEON';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: $primary;
  }

  &__content__input {
    font-family: 'BMDOHYEON';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    width: 100%;
  }
  &__content__dropdown {
    font-family: 'BMDOHYEON';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    width: 100%;
    @include flex(row, space-between, center);
    color: $placeholder;
  }
  &__content__text {
    font-family: 'BMDOHYEON';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    width: 5px;
  }

  &__input-wrapper {
    @include flex(row, start, center);
    gap: 5px;
  }

  .dropdown-state {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 140px;
    background-color: $offwhite;
    border: 1px solid $line;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .save-btn {
    margin: 0 14px 0 0;
  }

  .isIncome-btn {
    height: 20px;
    cursor: pointer;
  }
}

#paymentMethod,
#category {
  position: relative;
  cursor: pointer;
  input {
    cursor: pointer;
  }
}
