$primary: #2ac1bc;
$background: #f5f5f5;
$line: #ccd3d3;
$error: #f45452;
$placeholder: #818181;
$label: #8d9393;
$body: #626666;
$titleActive: #1e2222;
$offwhite: #fcfcfc;
$white: #ffffff;
$chartCardLine: #d7d7d7;
$black: #000000;
$생활: #4a6cc3;
$식비: #4ca1de;
$교통: #94d3cc;
$쇼핑_뷰티: #4cb8b8;
$의료_건강: #6ed5eb;
$문화_여가: #d092e2;
$미분류: #817dce;

$월급: #b9d58c;
$용돈: #e6d267;
$기타수입: #e2b765;

